{% extends 'base.html' %}


{% block links %}
  {% load static %} 
  <link rel="stylesheet" href="{% static 'main_part/css/job_title.css' %}">  
{% endblock %}

{% block index_content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id инвентаря</th>
        <th scope="col">id сотрудника</th>
        <th scope="col">id пользователя</th>
        <th scope="col">id трассы</th>
      </tr>
    </thead>
    <tbody>
      {% for item in event %}
      <tr>
        <th scope="row">{{item.0}}</th>
        <td>{{ item.1 }}</td>
        <td>{{ item.2 }}</td>
        <td>{{ item.3 }}</td>
        <td><button type="button" class="btn btn-primary">Редактировать</button></td>
        <td><button type="button" class="btn btn-danger">Удалить</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="btn_add"><button type="button" class="btn btn-success">Добавить запись</button></div>

  

{% endblock %}

