{% extends 'base.html' %}


{% block links %}
  {% load static %} 
  <link rel="stylesheet" href="{% static 'main_part/css/index.css' %}">  
{% endblock %}

{% block index_content %}
  <div class="text_box">
    <p>Добро пожаловать на сайт.</p>
    {% if user.is_authenticated and user.is_staff is False %}
      <p>Здесь вы можете просматривать информацию из БД по теме "Горнолыжный курорт".</p>
    {% elif user.is_staff is True %}
      <p>Здесь вы можете администрировать БД по теме "Горнолыжный курорт".</p>
    {% else %}
      <p>Для работы с сайтом необходима <a href="{% url 'register' %}">регистрация</a> и <a href="{% url 'login' %}">авторизация</a>.</p>
    {% endif %}
  </div>
{% endblock %}

