.btn_add {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_h {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table_box { 
    width: 70%;
    margin: 0 auto;
    border: 2px solid rgb(52, 58, 64);
    border-radius: 10px;
    margin-bottom: 10px;
}
.table {
    margin-bottom: 0px;
}
.page_num {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 20px; 
}
.btn_n {
    margin-right: 5px;
    margin-left: 5px;
}